cachetools==4.1.0
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
colorama==0.4.3
distlib==0.3.1
idna==2.10
isort==5.6.4
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
oyaml==0.9
packaging==20.3
pkginfo==1.5.0.1
polling==0.3.1
pyfiglet==0.8.post1
pyparsing==2.4.7
PyYAML==5.3.1
requests==2.25.0
tabulate==0.8.7
termcolor==1.1.0
terminaltables==3.1.0
tinydb==3.15.2
toml==0.10.2
typed-ast==1.4.1
urllib3==1.26.2
wimpy==0.6
wrapt==1.12.1
yaspin==0.16.0
