astroid==2.3.1
bleach==3.1.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
conda==4.3.16
cytoolz==0.10.0
docutils==0.15.2
gitdb2==2.0.6
GitPython==2.1.14
idna==2.8
invoke==0.11.1
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
ndebug==0.1.0
pickleDB==0.9.2
pkginfo==1.5.0.1
pycosat==0.6.3
Pygments==2.4.2
pylint==2.4.2
python-dateutil==2.8.0
python-gitlab==1.10.0
python-semantic-release==4.3.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
semver==2.9.0
six==1.12.0
smmap2==2.0.5
tinydb==3.15.1
toml==0.10.0
toolz==0.10.0
tqdm==4.37.0
twine==1.15.0
typed-ast==1.4.0
urllib3==1.25.6
virtualenv==16.7.5
webencodings==0.5.1
wrapt==1.11.2
